*{
    box-sizing: border-box;
}
body{
    /*background-color:#F5F5F5;*/
    background-color: #3F2305;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior-y:contain ;
    overflow: hidden;
}
.navbar{
    top: 0;
    width: 100%;
    height: 7dvh;
    background-color: #3F2305;
    position: fixed;
    padding: 0 1dvh 0 1dvh;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.navbartext{
    width: fit-content;
}
.anamenu{
    /*margin: 7dvh 0 0 0;*/
    width: 100%;
    height: 17dvh;
    max-height: 17dvh;
    white-space: nowrap;
    overflow-y: hidden;
    position: relative;

    margin: 7dvh 0 0 0;
}

.menutext {
    position: absolute;
    margin:1.5dvh 0 3.5dvh 1dvh;
    background: rgba(0, 0, 0, 0.247); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width:22dvh;
    height: 13dvh;
    border-radius:1vh;
    display: inline;
    z-index: 2;
    text-align: center;
    line-height: 19vh;
    font-size: calc(.6rem + .8vh);
    font-weight: bold;
    text-transform: uppercase;
  }
.anamenu .images{
    height: 13dvh;
    width: 22dvh;
    margin: 1.5dvh 1dvh 1.5dvh 1dvh;
    border-radius: 1vh;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.247);
    object-fit: cover;
}
h1{
    text-transform: capitalize;
    font-size: calc(.7rem + .8dvh);
    margin: 0;
}
h2{
    font-size: calc(.5rem + .5dvh);
    color: rgba(0, 0, 0, 0.712);
}
.head h1{
    font-size: calc(1rem + .9vh);
    text-transform: uppercase;
    /*color: #3F2305;*/
    color: #F5F5F5;
}
.navbar a{/*
    padding: 0;
    float: left;
    margin: 0;
    text-align: center;*/
    font-size: calc(.9rem + .8vh);
    text-decoration: none;
    color: #F5F5F5;
    line-height: 7dvh;
}
.navbar img{
    height: 6dvh; 
    margin-top: .3dvh;
}


.head{
    height: 6dvh;
    line-height: 6dvh;
    text-transform: uppercase;
    font-weight: 20000;
    font-size: calc(1rem + .9vh);
    text-align: center;
    /*background-color: #DFD7BF;*/
}
.menu{
    height: 68.8dvh;
    overflow: auto;
    padding: 1dvh 0 1dvh 0;
    /*background-color:#F5F5F6;*/
    margin: 0 1dvh 0 1dvh;
    align-items: center;
}
.gnl{
    width: 49%;
    height: 15dvh;
    display: flex;
    float: left;
    margin: 1dvh 1dvh 1dvh .5dvh;
    /*background-color: #fdfdfd;*/
    box-shadow: 2px 2px 5px rgb(63, 35, 5);
    background-color:#F5F5F6;
}
.gnl .images{
    margin: 1dvh;
    height: 13dvh;
    width: 13dvh;
    border-radius: 5px;
    position: relative;
    z-index: 8;
    border: 1px solid #3F2305;
    object-fit: cover;
}
.name{
    margin: 1dvh 0 1dvh 0;
    height: 13dvh;
    display: inline-block;
    width: 75%;
    line-height: 3dvh;
    background-color: #3F2305;
}
.fiat{
    background-color: aqua;
    margin: 1dvh 1dvh 1dvh 0;
    height: 13dvh;
    display: inline;
    padding: 0;
    width: 15%;
    text-align: right;
    line-height: 13dvh;
}
.tabcontent {
    display: none;
    border-top: none;
  }
@media screen and (max-width: 1200px){
    .gnl{
        width: 98.8%;
    }
}




@media screen and (orientation: landscape) and (max-width: 1000px){
    .navbar{
        top: 0;
        width: 100%;
        height: 10vh;
        background-color: #3F2305;
        float: left;
        position: fixed;
        line-height: 10vh;
        padding: 0 1vw 0 1vw;
        border-bottom: 1px solid #f1f1f1;
    }
    
    .anamenu{
        /*margin: 7dvh 0 0 0;*/
        width: 100%;
        height: 34vh;
        max-height: 34vh;
        white-space: nowrap;
        overflow-y: hidden;
        position: relative;
    
        margin: 10vh 0 0 0;
    }
    
    .menutext {
        position: absolute;
        margin:3vh 0 7vh 2vh;
        background: rgba(29, 29, 29, 0.247); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width:44vh;
        height: 26vh;
        border-radius:2vh;
        display: inline;
        z-index: 2;
        text-align: center;
        line-height: 26vh;
        font-size: calc(.6rem + .8vh);
        font-weight: bold;
        text-transform: uppercase;
      }
    .anamenu .images{
        height: 26vh;
        width: 44vh;
        margin: 3vh 2vh 3vh 2vh;
        border-radius: 2vh;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.247);
        object-fit: cover;
    }
    h1{
        text-transform: capitalize;
        font-size: calc(.7rem + .8dvh);
        margin: 0;
    }
    h2{
        font-size: calc(.5rem + .5dvh);
        color: rgba(0, 0, 0, 0.712);
    }
    .head h1{
        font-size: calc(1rem + .9vh);
        text-transform: uppercase;
        /*color: #3F2305;*/
        color: #F5F5F5;
    }

    .navbar .logo{
        text-align: right;
        float: right;
    }
    .navbar img{
        height: 9vh; padding: .5vh; 
    }
    
    
    .head{
        height: 12vh;
        line-height: 12vh;
        text-transform: uppercase;
        font-weight: 20000;
        font-size: calc(1rem + .9vh);
        text-align: center;
        /*background-color: #DFD7BF;*/
    }
    .menu{
        margin: 0 ;
        height: 40vh;
        overflow: auto;
        padding: 2vh 0 2vh 0;
        /*background-color:#F5F5F6;*/
    
        margin: 0 2vh 0 2vh;
    }
    .gnl{
        width: 48.4%;
        height: 20vh;
        display: flex;
        float: left;
        margin: 1vh 1vh 1vh 1vh;
        /*background-color: #fdfdfd;*/
        box-shadow: 2px 2px 5px rgb(63, 35, 5);
        background-color:#F5F5F6;
    }
    .gnl .images{
        margin: 1dvh;
        height: 18vh;
        width: 18vh;
        border-radius: 5px;
        position: relative;
        z-index: 8;
        border: 1px solid #3F2305;
        object-fit: cover;
    }
    .name{
        margin: 1vh 0 1vh 0;
        height: 18vh;
        display: inline-block;
        width: 75%;
        line-height: 3vh;
    }
    .fiat{
        margin: 1vh 1vh 1vh 0;
        height: 18vh;
        display: inline;
        padding: 0;
        width: 15%;
        text-align: right;
        line-height: 18vh;
    }
    .tabcontent {
        display: none;
        border-top: none;
      }
}