/** {
    box-sizing: border-box;
  }*/
  body{
    background-color:#f1f1f1;
    /*overflow-y: hidden;*/
    box-sizing:border-box;
    overscroll-behavior-y:contain ;
  }
  section#home{
    height: 95vh;
  }
/*horizontal*/
.sefa{
}
div.scroll-container2 {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    background-color:#cf1b1b00;
    margin: 1vh 0 1vh 0 ;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);

    height: 20vh;
    overflow-y: hidden;
  }
  
  div.scroll-container2 img {
    padding: 3vh;
    border-radius: 20px;
    width: 18vh;
    height: 14vh;
    position: relative;
  }

div.scroll-container2 .content {
    position: absolute;
    margin:3vh 14px 14px 3vh;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width:15vh;
    height: 11vh;
    border-radius:9px;
    display: inline;
    z-index: 2;
    text-align: center;
    font-size: 12px;

  }
  div.scroll-container2 h1{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 29px;
  }
  /*horizontal end*/
  .mainhead{
    height: 7vh;
    color: #000000;
  }
  
  .fiyat{
    width: 20%;
    text-align: right;
    float: right;
  }
  .mainhead h1{
    text-transform: uppercase;
    padding-bottom: 1vh;
    font-size: calc(3vh + 0.8rem);
  }
  

/*icerikler*/
div.gallery {
  border: 1px solid #ccc;
  background-color: #ebd4d4;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
  padding: 2%;
  border-radius: 25px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: calc(.8rem + .9vw);
}
.responsive {
  padding: 6px 6px;
  float: left;
  width: 19.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/*
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*içerikler son*/

/*UNIVERSAL STYLES*/

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 150%;
  margin: 1.5rem 0rem;
}

h1 {
  font-size: 3.8rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
  margin: 0;
  line-height: 1.3;
}

h3 {
  font-size: 2.1rem;
  margin: 0;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  margin: 0rem 0rem 2.4rem 0rem;
  line-height: 170%;
}

ul {
  line-height: 150%;
}

ul li {
  margin-bottom: 10px;
}
/*clearfixes*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*block level elements*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div {
  margin: 1.5rem 0rem;
}

div {
  margin: 0rem;
}

.page {
  margin: 0px;
  padding: 0px;
}

.main {
  margin: 0px;
  padding: 0px;
  max-width: none;
}

.inner {
  max-width: 10000px;
  margin: 1vh 0 1vh 0;
  /*padding-left: 15px;
  padding-right: 15px;*/
}

.failure {
  color: red;
}

.success {
  color: green;
}

/*SCROLL SNAP SYLES*/

.scroll-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  height: 400px;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  font-size: 0px;
  background-color: #f1f1f1;
}

.scroll-container .scroll-section {
  display: inline-block;
  vertical-align: middle;
  background: #b91919;
}

.scroll-container.same-size {
  padding-bottom: 100%;
  height: 0px;
  width: 50%;
  scroll-snap-points-y: repeat(calc(100% + 17px));
}

.scroll-container.same-size .wrap {
  position: relative;
  height: auto;
  width: 100%;
  width: calc(100% + 17px);
  padding: 0px;
  display: inline-block;
  white-space: nowrap;;
}
.wraps {
  background-color: #f1f1f1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
  margin: 10px;
  width: 95%;
}
.wraps h2{
  color: black;
  font-size: 12px;
  text-transform: capitalize;
}
.inner h1{
  margin-left: 10px;
  font-size: 30px;
  font-weight: 2200;
}





.scroll-container.same-size .scroll-section {
  height: 90%;
  width: 90%;
  border-radius: 5px;
  height: 80px;
  width: 80px;
  margin: 5px;
}
/*Small screens*/

@media screen and (max-width: 643px) {
  .scroll-container.same-size {
    width: 100%;
    height:70vh;
    padding: auto;
    margin: auto;
    /*padding-bottom: 100%;*/
  }
}
/*
.p {
  text-align: center;
  padding-top: 80px;
  font-size: 13px;
}*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #884b28;
  height: 50px;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 25px 15px 15px;
  text-decoration: none;

}
.logo{
  float: left;
  display: inline;
  padding: 5px 5px 5px 25px ;
  
}
ul a{
  padding: 15px;
  color: #f1f1f1;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
  color: #ffffff;
}
section{
  max-height: 90vh;
}
