* {
    box-sizing: border-box;
  }
  body{
    background-color: rgb(99, 32, 32);
  }
/*horizontal*/
.sefa{
}
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: relative;
    border-radius: 15px;
  }
  
  div.scroll-container img {
    padding: 10px;
    border-radius: 25px;
    width: 200px;
    height: 200px;

    position: relative;
  }

div.scroll-container .content {
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width:180px;
    height: 80px;
    border-radius:0 0 15px 15px;
    display: inline;
    z-index: 2;
    text-align: center;
    font-size: 12px;

  }
  div.scroll-container h1{
    text-transform: capitalize;
  }
  /*horizontal end*/
  .mainhead{
    height: fit-content;
    background-color: black;
    color: #f1f1f1;
    margin: 20px 0 0 0;
    border-radius: 20px;
    text-align: center;
  }
  .menulist{
    height:fit-content;
    background-color: bisque;
    margin-left: center;
    margin: 20px 0 0 0;
    border-radius: 20px;
    text-align:left;
    color: brown;
  }
  .left{
    width: 80%;
    float: left;
  }
  .fiyat{
    width: 20%;
    text-align: right;
    float: right;
  }
  .fiyat h1{
    text-transform: uppercase;
  }
  .menulist h1{
    padding: 15px;
    text-transform: capitalize;
    display: inline;
    text-align: left;
    font-size: calc(1rem + .9vw);
  }
  h2{
    padding: 20px;
    text-transform: uppercase;
  }
  h3{
    text-align: right;
    text-transform: capitalize;
    display: inline;
    float: right;
  }

  @media screen and (max-width: 768px) {

  }
  @media screen and (min-width: 768px) {
.menulist{
  width: 50vw;
}
.mainhead{
  width: 50vw;
}
  }
 

/*icerikler*/
div.gallery {
  border: 1px solid #ccc;
  background-color: #ebd4d4;
  border-radius: 15px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0 ;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/*
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*içerikler son*/